# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
*.pidb
*.booproj
*.svd
*.userprefs
*.unityproj
*.sln
*.csproj

# VS Code / Visual Studio
.vscode/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# OS
.DS_Store
Thumbs.db
